body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: Odibee Sans;
    font-size: 20px
}

.links:hover {
    background-color: chartreuse;
}


html {
    scroll-behavior: smooth;
}
.profile{
width: 1000px;
height: 1000px;
}
